table {
    width: 80%;
    border-collapse: collapse;
    margin: 0 auto;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.header-container {
    margin-bottom: 1em; /* Agrega margen en la parte inferior */
}

.nuevo {

    background-color: #5cb85c; /* Color de fondo verde */

    color: white; /* Color de texto blanco */

    border: none; /* Sin borde */

    padding: 0.5em 1em; /* Espaciado interno */

    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */

    border-radius: 4px; /* Bordes redondeados (opcional) */

}


.nuevo:hover {

    background-color: darkgreen; /* Color más oscuro al pasar el mouse (opcional) */

}

.Editar {

    background-color: #337ab7; /* Color de fondo verde */

    color: white; /* Color de texto blanco */

    border: none; /* Sin borde */

    padding: 0.5em 1em; /* Espaciado interno */

    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */

    border-radius: 4px; /* Bordes redondeados (opcional) */

}


.Editar:hover {

    background-color: #286090; /* Color más oscuro al pasar el mouse (opcional) */

}

.Eliminar {

    background-color: #d9534f; /* Color de fondo verde */

    color: white; /* Color de texto blanco */

    border: none; /* Sin borde */

    padding: 0.5em 1em; /* Espaciado interno */

    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */

    border-radius: 4px; /* Bordes redondeados (opcional) */

}


.Eliminar:hover {

    background-color: #c9302c; /* Color más oscuro al pasar el mouse (opcional) */

}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal {
    background: white;
    padding: 2em;
    border-radius: 8px;
    width: 400px;
    max-width: 90%;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.modal-actions {
    margin-top: 1.5em;
    display: flex;
    justify-content: space-between;
}

.delete-btn {
    background-color: #d73a49;
    color: white;
    padding: 0.5em 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cancel-btn {
    background-color: #ddd;
    padding: 0.5em 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


