.sidebar {
    width: 250px;
    background-color: #032f78;
    /*background-color: #22252E;*/
    padding: 20px;
    height: 100vh;
    border-right: 1px solid #16a710;
	color: white;
}

.sidebar h2 {
    margin: 0 0 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    padding: 10px;
    cursor: pointer;
}

    .sidebar li.active {
        /*background-color: #007bff;*/
        background-color: black;
        color: white;
    }

a {
    color: white; /* Cambia el color del texto a negro */
    text-decoration: none; /* Opcional: quita el subrayado */
}

    a:hover {
        color: #020202;
    }


    .submenu li {
        color: white; /* Color del texto por defecto */
        padding: 8px; /* Espaciado interno de los elementos */
    }

        .submenu li:hover {
            background-color: #020202; /* Color de fondo al pasar el mouse */
        }

        .sidebar i {
            margin-right: 8px; /* Ajusta el valor según sea necesario */
        }

.logo-container {
    text-align: center;
    padding: 15px;
}

.logo-img {
    width: 100px;
    height: auto;
    border-radius: 8px;
}
.app-name {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    color: #fff; /* o el color que combine con tu sidebar */
	text-align: center;
}