table {
    width: 80%;
    border-collapse: collapse;
    margin: 0 auto;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.header-container {
    margin-bottom: 1em; /* Agrega margen en la parte inferior */
}

.nuevo {

    background-color: #00227e; /* Color de fondo verde */

    color: white; /* Color de texto blanco */

    border: none; /* Sin borde */

    padding: 0.5em 1em; /* Espaciado interno */

    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */

    border-radius: 4px; /* Bordes redondeados (opcional) */

}


.nuevo:hover {

    background-color: darkgreen; /* Color más oscuro al pasar el mouse (opcional) */

}

.Editar {

    background-color: darkgreen; /* Color de fondo verde */

    color: white; /* Color de texto blanco */

    border: none; /* Sin borde */

    padding: 0.5em 1em; /* Espaciado interno */

    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */

    border-radius: 4px; /* Bordes redondeados (opcional) */

}


.Editar:hover {

    background-color: darkblue; /* Color más oscuro al pasar el mouse (opcional) */

}

.Eliminar {

    background-color: gray; /* Color de fondo verde */

    color: white; /* Color de texto blanco */

    border: none; /* Sin borde */

    padding: 0.5em 1em; /* Espaciado interno */

    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */

    border-radius: 4px; /* Bordes redondeados (opcional) */

}


.Eliminar:hover {

    background-color: #d80202; /* Color más oscuro al pasar el mouse (opcional) */

}
